<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
    <div class="canvas">


        

        <!-- WEEK DISPLAY -->
        <div class="container thing">This Week</div>

        <div class="container">
            {% for d in week %}
                <div class="item {{d}}"></div>
            {% endfor %}
        </div>
        <!-- WEEK END -->

        <!-- YEAR DISPLAY -->
        <div class="container month">This Year</div>
        
        <div class="container">
            {% for d in range(0, lonk) %}
                <div class="item {{daily[d]}}">{{data[d][0]}}</div>
            {% endfor %}
        </div>
        <!-- YEAR END -->

        
        <div class="container">
                <span class="white">
                    <br><br><br><br><br><br>
                Legend
                    <br><br>
                Each day I aim to do 3 things: Reading📖, Exercise🥊, Sleep at a Reasonable Hour💤<br>
                Each day is colored in accordance to how successful I was with that.<br>
                <span class="item grey"></span> - day is in the future <br>
                <span class="item red"></span> - 0/3 tasks <br>
                <span class="item orange"></span> - 1/3 tasks <br>
                <span class="item yellow"></span> - 2/3 tasks <br>
                <span class="item green"></span> - 3/3 tasks <br>
                </span>
                </div>

                <br>
                <button class="pushbuttonlogin" onclick="window.location.href = '/home';">Login</button>
        

    </div>
</body>





</html>

<script>



</script>