<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>


<body>
    <div class="canvas">
        <div class="container month">YEAR PROGRESS</div>
        
        
        <div class="container">
            {% for d in daily %}
                <div class="item {{d}}"></div>
            {% endfor %}
        </div>

        <div class="container thing">This Week</div>

        <div class="container">
            {% for d in week %}
                <div class="item {{d}}"></div>
            {% endfor %}
        </div>

    </div>
</body>





</html>