<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
    <div class="canvas">

        <div class="container">
            <div>{{incorrect_attempt}}</div>
            <br>
            <form method="POST">
            <div class="usrpass">username</div>
            <input type="text" name="username">
            <div class="usrpass">password</div>
            <input type="password" name="password">
            <br><br>
            <input type="submit" value="Log In" class="pushbuttonlogin"></input>
            </form>
        </div>

    </div>
</body>





</html>

<script>




</script>